header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: white;
    padding: 10px 30px;

    a,
    a:visited {
      text-decoration: none;
      color: #5a2a00;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 20px;
    }
  }