$primary-bg-color: #d8ae7e;
$secondary-bg-color: #f8c794;
$third-bg-color: #FFE0B5;
$primary-text-color: #4b2c20;
$text-bg-color: #f8c894;
$highlight-color: #f8c794;
$dropdown-bg-color: rgba(0, 0, 0, 0.842);
$boxshadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
$intense-boxshadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$font: "Titillium Web", sans-serif;